# Virtual environments
myenv/
venv/
.env/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# IDE files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Secrets
.env
*.key
Project/Distributed intrusion detection/artifacts/ml-api/ml/cicids_dataset.csv
